{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block main_content %}
<div class="left-content content">
	<ul class="main-content-list">
		{% for user in users[0:20] %}
		<li class="user-list">
	    	<a href="{{ 'https://www.zhihu.com/people/' + user['url_token'] }}" title="{{ user['headline'] }}">
	    		<span class="user-thumbnail">
	    			<img src="{{ user['avatar_url'] }}" alt="{{ user['name'] }}">
	    		</span>
	    		<span class="user-text">
	    			{{ user['headline'][0:18] + '...' }}
	    		</span>
	    		<span class="user-muted">
	    			{{ user['name'] }}
	    		</span>
	    		<span class="user-muted">
	    			关注-{{ user['follower_count'] }}
	    		</span>
	    	</a>
	    </li>
	    {% endfor %}
	</ul>
</div>
<div class="right-content content">
	<ul class="main-content-list">
		{% for user in users[20:40] %}
		<li class="user-list">
	    	<a href="{{ 'https://www.zhihu.com/people/' + user['url_token'] }}" title="{{ user['headline'] }}">
	    		<span class="user-thumbnail">
	    			<img src="{{ user['avatar_url'] }}" alt="{{ user['name'] }}">
	    		</span>
	    		<span class="user-text">
	    			{{ user['headline'][0:18] + '...' }}
	    		</span>
	    		<span class="user-muted">
	    			{{ user['name'] }}
	    		</span>
	    		<span class="user-muted">
	    			关注-{{ user['follower_count'] }}
	    		</span>
	    	</a>
	    </li>
	    {% endfor %}
	</ul>
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.index') }}
</div>
{% endif %}
{% endblock %}